/* 숫자 들어가는 동그란 마커 공통 스타일 */
.route-marker {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-size: 13px;
  font-weight: 700;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.view-marker {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
