.h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.9rem;
}

.h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.7rem;
}

.h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6rem;
}

.h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5rem;
}

.h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4rem;
}

.p {
  font-size: 16px;
  line-height: 1.3rem;
  color: #333333;
}

.ctext {
  font-size: 14px;
  line-height: 1.2rem;
  color: #333333;
}

@import 'tailwindcss';

@theme {
  /* --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem; */

  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1500px;
  /* --breakpoint-3xl: 1500px; */

  --color-primary: #4f46e5; /* indigo-600 */
  --color-primary-light: #818cf8;
  --color-secondary: #10b981; /* emerald-500 */
  --color-danger: #ef4444; /* red-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-info: #3b82f6; /* blue-500 */
}
